version: '3.9'
services:
  backend:
    build: .
    image: recipe-ai
    ports:
      - "5001:5000"
    volumes:
      - ./models:/app/models
    deploy:
      resources:
        reservations:
          devices:
            - driver: nvidia
              capabilities: [gpu]
